<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>课程信息</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <script type="text/javascript" src="http://tool.lsgzs.cc/hitokoto/?code=js"></script>
</head>
<body onload="load_welcome();load_welcome1()">
<!-- Begin page -->
<div class="container-scroller">
    <div th:replace="importpage/frag::top"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="importpage/frag::left"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
              </span>课程信息</h3>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <span></span>Overview
                                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <div th:if="${page.pageNum} !=0" >
                        <input type="hidden" id="pageS" th:value="${queryVo.pageSize}"/>
                        <form th:action="@{/courseinfo}" id="myform" method="post">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr >
                                    <!--                                <th><input type="checkbox"/></th>-->
                                    <th>课程编码</th>
                                    <th>课程名称</th>
                                    <th>开课单位</th>
                                    <th>课程类别</th>
                                    <th>学分</th>
                                    <th>任课教师</th>
                                    <th>上课时间</th>
                                    <th>上课地点</th>
                                    <th>课程容量</th>
                                    <th>课程余量</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="c : ${page.list}">
                                    <!--                                <td><input type="checkbox"/></td>-->
                                    <td th:text="${c.c_id}"></td>
                                    <td th:text="${c.c_name}"></td>
                                    <td th:text="${c.c_unit}"></td>
                                    <td th:text="${c.c_category}"></td>
                                    <td th:text="${c.c_credit}"></td>
                                    <td th:text="${c.c_teacher}"></td>
                                    <td th:text="${c.c_date}"></td>
                                    <td th:text="${c.c_room}"></td>
                                    <td th:text="${c.c_capacity}"></td>
                                    <td th:text="${c.c_allowance}"></td>
<!--                                    管理员操作-->
                                    <td th:if="${session.user.rid == 3}">
                                        <a type="button"  class="btn btn-gradient-primary btn-md " th:href="@{/courseedit(c_id=(${c.c_id}))}">编辑</a>
                                        <a th:href="@{/courseDelete(c_id=(${c.c_id}))}" class="btn btn-danger btn-md " role="button" onclick="return confirm('确定删除吗？')">删除
                                            <i class="mdi mdi-alert btn-icon-prepend"></i>
                                        </a>
                                    </td>
<!--                                     学生操作-->
                                    <td th:if="${session.user.rid ==1}">
                                        <a th:href="@{/coursenotok(uname=${session.user.uname})}" class="btn btn-danger btn-md disabled" role="button" onclick="return confirm('确定退选吗？')">退选
                                            <i class="mdi mdi-alert btn-icon-prepend"></i>
                                        </a>
                                    </td>
<!--                                    教师操作-->
                                    <td th:if="${session.user.rid ==2}">

                                    </td>
                                </tr>
                                </tbody>
                            </table>
<!--                            只有管理员可以添加课程-->
                            <button type="button" class="btn btn-outline-primary btn-fw" th:if="${session.user.rid == 3}"
                                    data-toggle="modal" data-target="#myModal">新增课程信息 &nbsp;
                                <i class="mdi mdi-account-plus"></i>
                            </button>
                            <br> </br>
                            <nav aria-label="Page navigation" th:if="${page.pageNum} !=0">
                                <ul class="pagination" >
                                    <li class="page-item">
                                        <a th:href="@{/courseinfo(page=(${page.pageNum-1}))}" aria-label="Previous" class="page-link">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>
                                    <li th:each="i:${#numbers.sequence(1,page.pages)}" class=""
                                        th:classappend="${i == page.pageNum} ? 'page-item active' : '' "><a class="page-link" th:href="@{/courseinfo(page=(${i}))}">[(${i})]</a></li>
                                    <li class="page-item">
                                        <a th:href="@{/courseinfo(page=(${page.pageNum+1}))}" aria-label="Next" class="page-link">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </form>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div th:if="${page.pageNum} == 0 ">
                        <h1>没有数据</h1>
                    </div>


                </div>
                <!-- 模态框 -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title">添加课程信息</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- 模态框主体 -->
                            <div class="modal-body">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" th:action="@{/courseadd}" method="post">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">课程名称</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" name="c_name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">开课单位</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" name="c_unit">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">课程类别</label>
                                            <div class="col-md-10">
                                                <!--                                                <input type="text" class="form-control"  name="rid">-->
                                                <select name="c_category" class="col-md-12 form-control">
                                                    <option value ="必修">必修</option>
                                                    <option value ="选修">选修</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">学分</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control"  name="c_credit">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">任课教师</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control"  name="c_teacher">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">上课时间</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control"  name="c_date">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">上课地点</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control"  name="c_room">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">课程容量</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control"  name="c_capacity">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">课程余量</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control"  name="c_allowance">
                                            </div>
                                        </div>
                                        <!--                                    <button type="submit" class="btn btn-purple waves-effect waves-light">提交更改</button>-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary">提交更改</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-panel ends -->
            <div th:replace="importpage/frag::footer"></div>
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="assets/vendors/js/vendor.bundle.addons.js"></script>
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <script type="text/javascript">
        function load_welcome(){
            var arr = ["永远相信，美好的事情即将发生",
                "耽误的时间太多，事情可就做不完了",
                "劳逸结合是不错，但也不能放松过头","今天过的怎么样？",
                "按照自己的选择来生活，是送给自己最好的礼物。",
                "不管什么事，只要是认真想做的人，就是大家最值得信赖的人。",
                "只有自己能够挺起胸膛，明白自己到底是怎样的人以后，我，才能够得出答案。",
                "你要相信，没有到不了的明天。",
                "我认为在这世上，有些事必须亲身经历才会理解"];
            var sar = Math.floor((Math.random()*arr.length));
            console.log(arr[sar]);
            document.getElementById("welcome").innerHTML =arr[sar];
        }
    </script>
    <script type="text/javascript">
        function load_welcome1(){
            var arr = ["永远相信，美好的事情即将发生",
                "耽误的时间太多，事情可就做不完了",
                "劳逸结合是不错，但也不能放松过头","今天过的怎么样？",
                "按照自己的选择来生活，是送给自己最好的礼物。",
                "不管什么事，只要是认真想做的人，就是大家最值得信赖的人。",
                "只有自己能够挺起胸膛，明白自己到底是怎样的人以后，我，才能够得出答案。",
                "你要相信，没有到不了的明天。",
                "我认为在这世上，有些事必须亲身经历才会理解"];
            var sar = Math.floor((Math.random()*arr.length));
            console.log(arr[sar]);
            document.getElementById("welcome1").innerHTML =arr[sar];
        }
    </script>
</div>
</body>
</html>