<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑课程</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <script type="text/javascript" src="http://tool.lsgzs.cc/hitokoto/?code=js"></script>
</head>
<body onload="load_welcome();load_welcome1()">
<!-- Begin page -->
<div class="container-scroller">
    <div th:replace="importpage/frag::top"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="importpage/frag::left"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
              </span>修改信息</h3>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <span></span>Overview
                                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="/course/courseupdate" method="post">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="example-email">课程名称</label>
                            <div class="col-md-5">
                                <input type="text" id="example-email" name="c_name" th:value="${c.c_name}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">开课单位</label>
                            <div class="col-md-5">
                                <input type="text" name="c_unit" th:value="${c.c_unit}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">课程类别</label>
                            <div class="col-md-5">
                                <!--                                                <input type="text" class="form-control"  name="rid">-->
                                <select name="c_category" th:value="${c.c_category}" class="col-md-12 form-control">
                                    <option th:value="${c.c_category}">[(${c.c_category})]</option>
                                    <option value ="必修">必修</option>
                                    <option value ="选修">选修</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">学分</label>
                            <div class="col-md-5">
                                <input type="text" name="c_credit" th:value="${c.c_credit}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">任课教师</label>
                            <div class="col-md-5">
                                <input type="text" name="c_teacher" th:value="${c.c_teacher}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">上课时间</label>
                            <div class="col-md-5">
                                <input type="text" name="c_date" th:value="${c.c_date}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">上课地点</label>
                            <div class="col-md-5">
                                <input type="text" name="c_room" th:value="${c.c_room}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">课程容量</label>
                            <div class="col-md-5">
                                <input type="text" name="c_capacity" th:value="${c.c_capacity}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">课程余量</label>
                            <div class="col-md-5">
                                <input type="text" name="c_allowance" th:value="${c.c_allowance}" class="form-control" >
                            </div>
                        </div>
                        <input name="c_id" type="hidden" th:value="${c.c_id}"/>
                        <div class="col-sm-offset-2 col-sm-12">
                            <button type="submit" class="btn btn-gradient-info btn-fw">提交</button>
                        </div>
                    </form>
                </div>

                </div>

                <div th:replace="importpage/frag::footer"></div>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="assets/vendors/js/vendor.bundle.addons.js"></script>
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <script type="text/javascript">
        function load_welcome(){
            var arr = ["永远相信，美好的事情即将发生",
                "耽误的时间太多，事情可就做不完了",
                "劳逸结合是不错，但也不能放松过头","今天过的怎么样？",
                "按照自己的选择来生活，是送给自己最好的礼物。",
                "不管什么事，只要是认真想做的人，就是大家最值得信赖的人。",
                "只有自己能够挺起胸膛，明白自己到底是怎样的人以后，我，才能够得出答案。",
                "你要相信，没有到不了的明天。",
                "我认为在这世上，有些事必须亲身经历才会理解"];
            var sar = Math.floor((Math.random()*arr.length));
            console.log(arr[sar]);
            document.getElementById("welcome").innerHTML =arr[sar];
        }
    </script>
    <script type="text/javascript">
        function load_welcome1(){
            var arr = ["永远相信，美好的事情即将发生",
                "耽误的时间太多，事情可就做不完了",
                "劳逸结合是不错，但也不能放松过头","今天过的怎么样？",
                "按照自己的选择来生活，是送给自己最好的礼物。",
                "不管什么事，只要是认真想做的人，就是大家最值得信赖的人。",
                "只有自己能够挺起胸膛，明白自己到底是怎样的人以后，我，才能够得出答案。",
                "你要相信，没有到不了的明天。",
                "我认为在这世上，有些事必须亲身经历才会理解"];
            var sar = Math.floor((Math.random()*arr.length));
            console.log(arr[sar]);
            document.getElementById("welcome1").innerHTML =arr[sar];
        }
    </script>
</div>
</body>
</html>